<!DOCTYPE html>
<html>
<head>
    <title>Carga de Inventario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="container text-right text-muted mt-2">
        <h5>Administrador: {{first_name}}</h5>
    </div>
    <div id="product-form">
        <h1>Producto</h1>
        <form id="form" action="/api/products" method="post">
            <label for="title">Nombre del Producto</label>
            <input type="text" name="title" id="title" required>
            <label for="description">Descripción</label>
            <input type="text" name="description" id="description" required>
            <label for="code">Código del Producto</label>
            <input type="number" name="code" id="code" required min="0">
            <label for="price">Precio</label>
            <input type="number" name="price" id="price" required min="0">
            <label for="stock">Cantidad en Stock</label>
            <input type="number" name="stock" id="stock" required min="0">
            <label for="category">Categoría</label>
            <select name="category" id="category" required>
                <option value="gaseosa">Gaseosa</option>
                <option value="vino">Vino</option>
                <option value="cerveza">Cerveza</option>
            </select>
            <label for="thumbnails">Imagen</label>
            <input type="file" name="thumbnails" id="thumbnails">
            <button type="submit">Agregar Producto</button>
        </form>
        <div>
            <h1>Eliminar Producto</h1>
                <form id="delete-form">
                    <label for="delete-id">ID del Producto</label>
                    <input type="text" name="delete-id" id="delete-id" required>
                    <button type="submit">Eliminar Producto</button>
                </form>
        </div>
    </div>
    <div class="fixed-bottom m-3">
        <a href="/chat" class="btn btn-success">Chat</a>
        <a href="/logout" class="btn btn-danger float-right">Desloguearse</a>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./scripts/scripts.js"></script>
</body>

</html>

