<!DOCTYPE html>
<html>
<head>
    <title>Logueo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<!-- views/login.hbs -->
<body>
    <h1>Login</h1>
    <div>
        <form method="POST" action="/login">
            <label for="email">Email</label>
            <input type="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <div id="botonera">
            <a href="/restore"><button>Restaurar la contraseña</button></a>
            <a href="/register"><button>Registrarse</button></a>
            <a href="/githubcallback"><button>Loguearse con GitHub</button></a>
        </div> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
